<a href="https://colab.research.google.com/github/Jiyeon1104/ai/blob/main/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###########
#주석 comment
###########


''' 
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''

# 보통 삼중 따옴표 주석은 여러줄을 주석으로 사용할 때 사용한다.

# 주석 붙이는 위치
print('Hello World') # 행의 우측 또는 위에 주석을 붙임

Hello World

In [ ]:
###########
#변수 Variable
###########

score = 200

print(score)

score = 300

print(score)

200
300

In [ ]:
name = 'Alice'
age = 26
address = '''우편번호 1234
경기도 성남시 수정구 
제일로110번길'''
friend = True
height = 173.8

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [14]:
##############
#기본자료형 type
##############

a = int(1.9)
print(a)

b = int(True)
print(b)

c = int(False)
print(c)

1
1
0

In [17]:
a = 100
b = '100'

print(type(a))
print(type(b))

print(a)
print(b)
print(a==b) # 육안에서 보이는 값은 같지만 타입 자체가 다르기 때문에 컴퓨터는 비교 연산 시 두 값을 다르게 처리함\

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [22]:
#실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float(100)
print(d)

1.0
1.0
3.14
100.0

In [26]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([1])
print(d)

False
False
False
True

In [30]:
##############
#문자열 String
##############

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [37]:
# 문자열 인덱싱

# hello 파이썬은 0에서 시작함

s = 'Hello'
s[3]
print(s[3])

print(s[-1])
print(s[-5])
print(s[-5] == s[0])

l
o
H
True
1
99

In [38]:
ss = "990211-1005432"
print(ss[7])
print(ss[0:2]) # 0번째부터 2번째 미만까지.. [start:stop:step]
print(ss[0:2]) # step은 생략 가능
print(ss[0:10:2]) # 2개씩 건너 뜀

1
99
99
901-0

In [40]:
# print

print("Hello 'World'")

Hello 'World'

In [45]:
print('Hello \'World\'')
print('Hello \"World\"')
print('Hello "World"')

Hello 'World'
Hello "World"
Hello "World"

In [47]:
print('Hello \n"World"')

Hello
"World"

In [49]:
print('이름 \n전화')

이름
전화

In [51]:
print('이름 \t연락처')
print('홍길동 \t010-2020-2903')

이름 	연락처
홍길동 	010-2020-2903

In [52]:
print('재미있는', '파이썬')

재미있는 파이썬

In [55]:
print('평점', end = ':')
print('5점')

평점:5점

In [63]:
print('국어', '영어', '수학')
print('국어', '영어', '수학', sep = '/')
print('국어', '영어', '수학', sep = ',')
print('국어', '영어', '수학', sep = '\n')
print('국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학
국어
영어
수학

In [75]:
# %연산자

print(10)
print('%d을 입력하세요' % 10) # %d decimal 정수
print('원주율은 %f입니다.' % 3.14) # %f float 실수
print('원주율은 %s입니다.' % 3.14)
print('저는 %s입니다.' % '학생') # %s string 문자열

std = "대학생"
print('저는 %s입니다.' % std)
print('저는', std, '입니다.')

10
10을 입력하세요
원주율은 3.140000입니다.
원주율은 3.14입니다.
저는 학생입니다.
저는 대학생입니다.
저는 대학생 입니다.

In [87]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [93]:
print('원주율은 %f입니다.' % 3.14) # %f float 실수
print('원주율은 %5.1f입니다.' % 3.14) # %f float 실수
print('원주율은 %-5.1f입니다.' % 3.14) # %f float 실수
print('원주율은 %.2f입니다.' % 3.14) # %f float 실수

원주율은 3.140000입니다.
원주율은   3.1입니다.
원주율은 3.1  입니다.
원주율은 3.14입니다.

In [94]:
name = 'kai'
print('내 이름은 %s입니다.' %name)

내 이름은 kai입니다.

In [102]:
height = 185.5
print('내 키는 %.1f입니다.' %height)
print('내 키는 %s입니다.' %height)
print('내 키는 {}이고 이름은 {}입니다.'.format(height,name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 kai입니다.

In [99]:
# format()

zipcode = '06236'
print('우편번호 : %s' %zipcode)
print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [106]:
print('My name is {}.I \'m {} years old.'.format('김지연', 24))
print('My name is {1}.I \'m {0} years old.'.format(24, '김지연')) # ? 번째를 지정 가능하다
print('My name is {name}.I \'m {age} years old.'.format(age = 24, name = '김지연'))

My name is 김지연.I 'm 24 years old.
My name is 김지연.I 'm 24 years old.
My name is 김지연.I 'm 24 years old.

In [107]:
# f-strings
# 파이썬 3.6 이후부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}') # 가독성이 좋음 + 가장 자주 씀

you make me happy

In [108]:
age = 25
print(f'내년에는 {age + 1} 입니다.')

내년에는 26 입니다.

In [114]:
##############
#입력() input
##############

n = input('당신의 나이를 입력하세요.')
print(f'당신의 나이는 {n}입니다.')
print('당신의 나이는' , n, '입니다.')

당신의 나이를 입력하세요.24
당신의 나이는 24입니다.
당신의 나이는 24 입니다.

In [128]:
name = input('이름을 입력하세요.')
age = int(input('나이를 입력하세요.'))2

# f-string
print(f'당신의 이름은 {name}이고, 나이는 {age}입니다.')

# format()
print('당신의 이름은 {}이고, 나이는 {}입니다.'.format(name, age))

# 기본
print('당신의 이름은',name, '이고, 나이는', age, '입니다.')
#기본으로 쓰면 띄어쓰기가 불가피하게 일어남

# %연산자
print('당신의 이름은 %s이고' %name, end = ',')
print('나이는 %s입니다.' %age)
print('당신의 이름은 %s이고, 나이는 %d입니다.' %(name, age))

print(type(name))
print(type(age))

이름을 입력하세요.김지연
나이를 입력하세요.4
당신의 이름은 김지연이고, 나이는 4입니다.
당신의 이름은 김지연이고, 나이는 4입니다.
당신의 이름은 김지연 이고, 나이는 4 입니다.
당신의 이름은 김지연이고,나이는 4입니다.
당신의 이름은 김지연이고, 나이는 4입니다.
<class 'str'>
<class 'int'>

In [147]:
month = int(input('할부 개월 입력 : '))
money = round(50000 / month,2)

print(f'{month}개월 동안 매달 내는 금액은 {money}입니다.')
print('%d개월 동안 매달 내는 금액은 %f입니다.' % (month, money))
print('{}개월 동안 매달 내는 금액은 {}입니다.'.format(month, money))
print(month, '개월동안 매달 내는 금액은', money, '입니다.')

할부 개월 입력 : 3
3개월 동안 매달 내는 금액은 16666.67입니다.
3개월 동안 매달 내는 금액은 16666.670000입니다.
3개월 동안 매달 내는 금액은 16666.67입니다.
3 개월동안 매달 내는 금액은 16666.67 입니다.

In [149]:
num1 = float(input('실수1 : '))
num2 = float(input('실수2 : '))
sum = num1 + num2

print(f'{num1}과 {num2}의 합계는 {sum}입니다.')

실수1 : 3.14
실수2 : 5.05
3.14과 5.05의 합계는 8.19입니다.